@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Unbounded:wght@200;300;400;600&display=swap');

/* ordering properties
1. display, position, float, etc.
2. width, height, etc.
3. margin, padding
4. border, background, etc.
5. text, fonts, etc.
6. others */

:root {
  --bg-color: #111111;
  --bg-transparent: #1111119c;
  --bg-grey: #202020;
  --gradient-color-primary: rgba(184, 119, 255, 1);
  --gradient-color-secondary: rgba(249, 131, 233, 1);
  --gradient-color-tertiary: rgba(198, 241, 247, 1);
  --on-bg: #E4E4E4;
  --orange-btn: #E28224;

  --main-font: 'Inter', sans-serif;
  --stylized-font: 'Unbounded', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  background-color: var(--bg-color);
  color: white;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

/* removing element's default styles */
a {
  display: block;
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h2 {
  font-family: var(--stylized-font);
  font-weight: 300;
  font-size: 2.5rem;
}

ul {
  list-style-type: none;
}

/* global custom class */

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../images/bg_hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-y-margin {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.main-x-margin {
  margin-left: 4rem;
  margin-right: 4rem;
}

.main-padding {
  padding: 4rem;
}

.title {
  font-family: var(--stylized-font);
  font-weight: 300;
  font-size: 5rem;
}

.title-sub {
  font-family: var(--stylized-font);
  font-weight: 300;
  font-size: 2.5rem;
}

.line-wave {
  position: relative;
}

.line-wave:before {
  content: "~~~~~~~~~~~~~~~~~~";
  width: 100%;
  position: absolute;
  font-family: monospace;
  font-size: 3rem;
  font-weight: 700;
  overflow: hidden;
  letter-spacing: -8px;
  background: var(--gradient-color-tertiary);
  background: radial-gradient(circle, var(--gradient-color-primary) 0%, var(--gradient-color-secondary) 32%, var(--gradient-color-tertiary) 88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line-wave-top:before {
  top: -24px;
  left: -1px;
}

.line-wave-bottom:before {
  bottom: -24px;
  left: -1px;
}

.text-background-full {
  color: var(--gradient-color-primary);
}

.text-background-center {
  background: var(--gradient-color-tertiary);
  background: radial-gradient(circle, var(--gradient-color-primary) 0%, var(--gradient-color-secondary) 32%, var(--gradient-color-tertiary) 88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-background-right {
  background: var(--gradient-color-tertiary);
  background: linear-gradient(97deg, var(--gradient-color-tertiary) 20%, var(--gradient-color-secondary) 50%, var(--gradient-color-primary) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-background-left {
  background: var(--gradient-color-tertiary);
  background: linear-gradient(97deg, var(--gradient-color-primary) 20%, var(--gradient-color-secondary) 50%, var(--gradient-color-tertiary) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .9rem;
  color: var(--on-bg);
}

header {
  position: relative;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* navigation bar */

nav {
  display: flex;
  outline: solid white 2px;
  position: relative;
}

#nav-left-side {
  display: flex;
  width: 100%;
  max-width: 500px;
  z-index: 99;
}

#nav-logo-wrapper {
  justify-content: space-around;
  width: 100%;
  padding: 3rem 2rem;
  font-family: var(--stylized-font)
}

#nav-logo-wrapper #nav-logo {
  gap: 1rem;
}

#nav-logo-wrapper>p {
  font-size: .7rem;
}

#nav-link-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: solid white 2px;
  z-index: 2;
}

#nav-link-wrapper>div {
  display: flex;
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  outline: solid white 1px;
  transition: all .3s ease-in-out;
}

.nav-link:hover {
  background-color: white;
  color: var(--bg-color);
}

#nav-link-wrapper div>div {
  width: max-content;
  padding: 1rem;
  outline: solid white 1px;
}

#nav-link-wrapper div:last-child>div {
  display: none;
}

#nav-link-wrapper .grow {
  flex-grow: 1.5;
}

nav #hamburger {
  display: none;
}

/* hero */

#hero-main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#hero-welcome {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#hero-welcome>p:first-child {
  font-family: var(--stylized-font);
  font-size: 2rem;
  font-weight: 200;
}

#hero-detail {
  display: flex;
  justify-content: space-between;
}

#hero-title {
  font-family: var(--stylized-font);
}

#hero-title>div:first-child {
  display: flex;
  align-items: center;
}

#hero-title>div:last-child {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#hero-title p {
  font-size: 1.2rem;
}

#hero-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 200px;
}

#menu {
  background-color: var(--bg-transparent);
  font-family: var(--stylized-font);
  font-size: 1rem;
}

#menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem 0;
}

#menu ul>li {
  width: 100%;
  max-width: 300px;
  padding-bottom: 2rem;
  border-bottom: solid white 2px;
}

#menu a {
  width: fit-content;
}

/* about us */
#about-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 26em;
}

#about-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}

#about-main-first,
#about-main-third {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#about-main-first div:last-child {
  display: none;
}

#about-main img {
  margin: -2px;
}

#about-main p {
  max-width: 480px;
}

#about-right {
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: var(--bg-grey);
}

#about-right img {
  margin: 4rem;
}

.title-mobile {
  display: none;
}

#about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12rem;
}

#about-list li {
  position: relative;
  overflow: hidden;
}

#about-list li div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  max-height: 640px;
  padding: 4rem;
  padding-top: 12rem;
}

#about-list .background {
  transform: scale(200%);
}

#about-list li:nth-child(1) .background {
  transform: rotate(50deg) scale(400%) translate(30%, -10%);
}

#about-list li:nth-child(2) .background {
  transform: rotate(60deg) scale(400%) translate(-10%, 0);
}

#about-list li:nth-child(3) .background {
  transform: rotate(120deg) scale(500%) translate(20%, 10%);
}

#about-list li:nth-child(4) .background {
  transform: rotate(0) scale(300%) translate(10%, 10%);
}

#about-list li p {
  max-width: 320px;
}

/* expertise */

#expertise-main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#expertise-main>div {
  display: flex;
}

#expertise-main>div>div:first-child {
  width: 100%;
  max-width: 480px;
}

#expertise-main-first>div:nth-child(2) {
  display: none;
}

#expertise-main-first .paragraph {
  width: 480px;
}

#expertise-main-third .paragraph {
  max-width: 480px;
}

#expertise-main-first>div:first-child p {
  width: fit-content;
}

#expertise-main-first>div:last-child {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

#expertise-main-second {
  align-items: flex-end;
}

#tabbing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  outline: solid white 3px;
}

.tab-button {
  padding: 4rem 2rem;
  text-align: start;
  outline: solid white 2px;
  opacity: .5;
  transition: all .3s ease-out;
}

.tab-button.active {
  opacity: 1;
}

#tab-content {
  grid-column: 1 / 3;
  position: relative;
  min-height: 350px;
  padding: 2rem 0 4rem 4rem;
}

.tab-slide {
  position: absolute;
  opacity: 0;
  filter: blur(5px);
  transition: all .4s;
}

.tab-slide.active {
  filter: blur(0);
  opacity: 1;
}

.tab-slide .paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-slide .paragraph p {
  max-width: 420px;
}

.tab-slide .paragraph p:first-child {
  max-width: 160px;
}

.tab-slide .balls img {
  margin: 2rem -1rem 2rem 0;
}

.tab-slide .balls img:nth-child(2) {
  transform: rotate(80deg);
}

.tab-slide .balls img:nth-child(3) {
  transform: rotate(240deg);
}

/* get started */

#get-started {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#get-started-banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  overflow: hidden;
}

#get-started-banner>div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#get-started-banner>div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  margin-right: 8rem;
}

#get-started-banner>div:last-child>h1 {
  display: none;
}

#get-started-banner>div:last-child>.paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#get-started-banner .background {
  transform: scale(280%) rotate(90deg) scaleX(-1) translate(25%, 0);
}

#get-started-detail {
  display: flex;
  justify-content: space-between;
}

#get-started-detail>div:last-child {
  display: flex;
  gap: 2rem;
}

#get-started-detail .paragraph {
  max-width: 480px;
}

.stars img {
  margin: -2px;
}

/* what we do */
#slider {
  max-width: 100%;
  margin: 6rem;
}

#slider .text-background-right {
  width: fit-content;
}

.slick-list {
  margin: 2rem !important;
  padding-bottom: 2rem !important;
}

.slick-dots li.slick-active button:before {
  color: var(--orange-btn) !important;
}

.slick-dots li button:before {
  font-size: 4rem !important;
  opacity: 1 !important;
  color: white !important;
}

.slider-content {
  display: flex !important;
}

.slider-slide {
  position: relative;
  width: 100%;
  min-height: 480px;
  overflow: hidden;
}

.slider-slide>div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 480px;
  padding: 2rem 4rem 4rem 4rem;
}

@media (max-width: 1536px) {
  #about-detail {
    gap: 6rem;
  }

  #get-started-banner {
    min-height: auto;
  }

  #get-started-banner>div:last-child {
    gap: 4rem;
    padding: 2rem 0;
    margin-right: 0;
  }
}

@media (max-width: 1280px) {
  .title {
    font-size: 3rem;
  }

  .title-sub {
    font-size: 1.5rem;
  }

  .line-wave:before {
    font-size: 2rem;
    font-weight: 700;
  }

  #nav-left-side {
    width: auto;
  }

  #nav-logo-wrapper>p:last-child {
    display: none;
  }

  #hero-welcome {
    justify-content: end;
  }

  #hero-detail {
    flex-direction: column;
    gap: 4rem;
  }

  #hero-title>div:last-child {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  #about-right {
    display: none;
  }

  #expertise-main {
    flex-direction: column-reverse;
  }

  #expertise-main-first {
    flex-direction: column;
    gap: 1rem;
  }

  #expertise-main-first>div:first-child {
    display: none;
  }

  #expertise-main-first>div:nth-child(2) {
    display: block;
  }

  #expertise-main-first .paragraph:last-child {
    display: none;
  }

  #expertise-main-third>div:first-child {
    display: none;
  }

  #expertise-main-second>div:first-child {
    display: none;
  }
}

@media (max-width: 1024px) {
  nav {
    flex-direction: column;
    outline: none;
  }

  nav #hamburger {
    display: flex;
  }

  #nav-left-side {
    max-width: none;
    margin-bottom: 1rem;
    outline: solid white 2px;
  }

  #nav-logo-wrapper {
    padding: 1rem;
    flex-grow: 2;
  }

  #nav-link-wrapper {
    position: absolute;
    top: -500px;
    background-color: var(--bg-color);
    opacity: 0;
    transition: all .5s ease-out;
  }

  #nav-link-wrapper div:first-child>div {
    display: none;
  }

  #nav-link-wrapper div:last-child>div {
    display: flex;
    width: 100%;
  }

  #nav-link-wrapper>div {
    flex-direction: column;
  }

  #nav-link-wrapper.active {
    top: 100%;
    opacity: 1;
  }

  #about-list {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }

  #about-list li div {
    padding: 4rem;
  }

  #tab-content {
    grid-column: 1 / 4;
    position: relative;
    min-height: 350px;
    padding: 2rem 0 4rem 4rem;
  }

  .tab-button {
    padding: 2rem 1rem;
  }

  #get-started-banner>div:first-child {
    display: none;
  }

  #get-started-banner>div:last-child>h1 {
    display: block;
  }

  #get-started-detail {
    flex-direction: column;
    gap: 1rem;
  }

  #slider {
    margin: 0;
  }

  .slick-list {
    margin: 2rem 0 0 0 !important;
    padding-bottom: 2rem !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .slider-content {
    flex-direction: column;
  }

  .slider-slide {
    min-height: auto;
  }

  .slider-slide>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    max-width: 480px;
    padding: 1rem 2rem 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .title-sub {
    font-size: 1rem;
  }

  #about-main-first,
  #about-main-third {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  #about-main-first {
    flex-direction: column-reverse;
  }

  #about-main-first div:last-child {
    display: block;
  }

  #about-main-third div:first-child {
    display: none;
  }

  #get-started-detail .paragraph:last-child {
    display: none;
  }
}

@media (max-width: 640px) {
  .main-y-margin {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .main-x-margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .main-padding {
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .line-wave:before {
    font-size: 2rem;
    font-weight: 500;
  }

  .line-wave-top:before {
    top: -16px;
  }

  .line-wave-bottom:before {
    bottom: -18px;
  }

  .title-mobile {
    display: inline-block;
  }

  .title-desktop {
    display: none;
  }

  #tab-content {
    padding: 1rem;
  }

  .tab-slide .paragraph {
    flex-direction: column;
  }
}